* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "cabecalho cabecalho"
    "section aside"
    "footer footer";
  grid-template-columns: 5fr 1fr;
  grid-template-rows: auto auto auto;
}

.cabecalho {
  grid-area: cabecalho;
  background-color: rgb(255, 166, 0);
}

.section {
  grid-area: section;
  background-color: blue;
}

.aside {
  grid-area: aside;
  background-color: rgb(0, 255, 213);
}

.footer {
  grid-area: footer;
  background-color: green;
}

@media (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "cabecalho"
      "section"
      "aside"
      "footer";
  }
}
